@charset "UTF-8";
/*
0 - 600px:        telefone
600 - 900px:      tablet-retrato
900 - 1200px:     tablet-paisagem
[1200 - 1800]:    Local onde o código padrão se aplica.
1800px + :        desktop-grande

CHAVEADOR DE ARGUMENTOS

1em = 16px

* telefone        - 600/16px = 37.5em
* tab-retrato     - 900/16px = 56.25em
* tab-paisagem    - 1200/16 = 75em
* desk-grande     - 1800/16 = 112.5em

༼つಠ益ಠ༽つ ─=≡ΣO)) */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-moz-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-moz-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-moz-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-moz-keyframes shake {
  10%,
  90% {
    transform: scale(0.9);
    transform: translate3d(-1px, 0, 0); }
  20%,
  80% {
    transform: translate3d(2px, 0, 0); }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0); }
  40%,
  60% {
    transform: translate3d(4px, 0, 0); } }

@-webkit-keyframes shake {
  10%,
  90% {
    scale: 0.9;
    transform: translate3d(-1px, 0, 0); }
  20%,
  80% {
    transform: translate3d(2px, 0, 0); }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0); }
  40%,
  60% {
    transform: translate3d(4px, 0, 0); } }

@keyframes shake {
  10%,
  90% {
    scale: 0.9;
    transform: translate3d(-1px, 0, 0); }
  20%,
  80% {
    transform: translate3d(2px, 0, 0); }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0); }
  40%,
  60% {
    transform: translate3d(4px, 0, 0); } }

@keyframes titleAnimation {
  to {
    background-position: 200% center; } }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeout {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0px #00bfb2; }
  to {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0); } }

*,
*::after,
*::before,
ul {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

::selection {
  background: rgba(0, 191, 178, 0.5); }

[class^="section"] {
  background-image: linear-gradient(#fff, #fefeff);
  padding-top: 6rem;
  margin-bottom: 4rem; }

.site-wrap {
  transform: scale(0.98);
  transition: transform .5s; }
  @media (max-width: 56.25em) {
    .site-wrap {
      transform: scale(1); } }

.fixed-nav .site-wrap {
  transform: scale(1); }

img {
  width: 100%; }

@font-face {
  font-family: 'gilroy-light';
  src: url("../fonts/gilroy-light-webfont.otf") format("otf"), url("../fonts/gilroy-light-webfont.etf") format("eot"), url("../fonts/gilroy-light-webfont.woff") format("woff2"), url("../fonts/gilroy-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gilroy-extrabold';
  src: url("../fonts/gilroy-extrabold-webfont.otf") format("otf"), url("../fonts/gilroy-extrabold-webfont.eot") format("eot"), url("../fonts/gilroy-extrabold-webfont.woff") format("woff2"), url("../fonts/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-size: 1.6rem;
  font-family: 'gilroy-light';
  line-height: 1.7;
  background-color: #fefeff;
  color: #4f5052;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

h1, h3 {
  font-family: 'gilroy-extrabold'; }

h2 {
  font-family: 'gilroy-light'; }

ol {
  margin: 2rem 3rem; }

.header h2 {
  font-size: 3rem; }
  @media (max-width: 37.5em) {
    .header h2 {
      font-size: 3.6rem; } }

.heading {
  letter-spacing: .10rem; }
  .heading-primary {
    color: #2b303a;
    text-transform: uppercase;
    font-size: 4rem; }
    @media (max-width: 37.5em) {
      .heading-primary {
        font-size: 2.5rem; } }
  .heading-secondary {
    color: #6b717f;
    display: inline-block;
    font-size: 2.5rem; }
    @media (max-width: 37.5em) {
      .heading-secondary {
        font-size: 1.8rem; } }
  .heading-tertiary {
    color: #2b303a;
    font-size: 1.8rem;
    text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.section-refills h1, .section-refills p {
  color: #fff; }

.section-refills h2 {
  color: #a1a5af; }

.section-pricing-plans .card__heading {
  font-family: 'gilroy-extrabold';
  font-size: 2.8rem;
  text-transform: uppercase; }

.section-pricing-plans .card__details {
  font-size: 1.6rem; }

.section-pricing-plans .card__price-box {
  letter-spacing: .3rem; }

.section-pricing-plans .card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase; }

.section-pricing-plans .card__price-value {
  font-family: 'gilroy-light';
  font-size: 3.5rem; }
  .section-pricing-plans .card__price-value span {
    font-size: 10rem; }

.section-pricing-plans .card a {
  font-size: 1.3rem; }

.about-us ul {
  margin-left: 3rem; }

.bankon-growth h4 {
  font-size: 4rem;
  letter-spacing: .5rem; }

.credit-card__close {
  font-size: 2rem;
  padding-right: 3rem;
  font-weight: bold;
  font-family: 'gilroy-extrabold'; }

.footnotes {
  font-size: 1.2rem; }

ul {
  margin-bottom: 2rem; }

footer, .footer .paragraph {
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  font-family: 'gilroy-light';
  text-transform: none;
  color: #6b717f; }
  @media (max-width: 37.5em) {
    footer, .footer .paragraph {
      font-size: 1.6rem;
      text-align: center;
      margin: 0 auto; } }
  footer .heading-tertiary, .footer .paragraph .heading-tertiary {
    font-size: 1.5rem;
    color: #6b717f; }
    @media (max-width: 37.5em) {
      footer .heading-tertiary, .footer .paragraph .heading-tertiary {
        font-size: 1.7rem; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem; } }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media (max-width: 37.5em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem; } }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-margin-top-medium {
  margin-top: 4rem; }
  @media (max-width: 56.25em) {
    .u-margin-top-medium {
      margin-bottom: 3rem; } }

.u-margin-top-big {
  margin-top: 8rem; }
  @media (max-width: 37.5em) {
    .u-margin-top-big {
      margin-bottom: 5rem; } }

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.btn {
  letter-spacing: .2rem;
  max-height: 6rem;
  text-transform: uppercase;
  outline: none;
  padding: 1.7rem 4rem !important;
  border-radius: .7rem !important; }
  .btn:link, .btn:visited {
    border-radius: .7rem !important;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    position: relative; }
  .btn--white {
    background-color: #fff;
    color: #4f5052; }
    .btn--white::after {
      background-color: #fff; }
  .btn--green {
    border-radius: .7rem !important;
    background-color: #00bfb2;
    color: #fff; }
  .btn:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:active {
    outline: none;
    border: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:focus {
    outline: 0; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: all .3s; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }
  .btn-slide {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    border: 0.5em solid #e74c3c;
    background-color: transparent;
    outline: none;
    transition: all ease-in .2s;
    cursor: pointer; }
    .btn-slide__prev, .btn-slide__next {
      z-index: 200;
      position: absolute;
      bottom: 38%;
      width: 6rem;
      height: 6rem;
      display: inline-block;
      backface-visibility: hidden;
      border: 0.5rem solid #fff;
      border-radius: 50%; }
      @media (min-width: 112.5em) {
        .btn-slide__prev, .btn-slide__next {
          top: 55%; } }
      @media (max-width: 75em) {
        .btn-slide__prev, .btn-slide__next {
          bottom: 42%; } }
      @media (max-width: 56.25em) {
        .btn-slide__prev, .btn-slide__next {
          top: 32%; } }
      @media (max-width: 37.5em) {
        .btn-slide__prev, .btn-slide__next {
          top: 40%; } }
    .btn-slide__prev:after, .btn-slide__next:after {
      content: '';
      display: inline-block;
      margin-top: .5rem;
      width: 2rem;
      height: 2rem;
      border-top: 0.5rem solid #fff;
      border-right: 0.5rem solid #fff;
      background-color: transparent; }
    .btn-slide__prev {
      left: 19%; }
      @media (max-width: 37.5em) {
        .btn-slide__prev {
          left: 2%; } }
      .btn-slide__prev:after {
        margin-left: .5rem;
        -moz-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg); }
    .btn-slide__next {
      position: absolute;
      right: 19%; }
      @media (max-width: 37.5em) {
        .btn-slide__next {
          right: 2%; } }
      .btn-slide__next:after {
        margin-right: .5rem;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
    .btn-slide__prev:hover, .btn-slide__next:hover {
      transform: scale(1.05); }
    .btn-slide__prev:active, .btn-slide__next:active {
      transform: scale(0.95); }
  .btn--animated {
    animation: moveInBottom 0.75s ease-in-out .75s;
    animation-fill-mode: backwards; }
  .btn--text:link, .btn--text:visited {
    border-radius: .7rem;
    color: #00bfb2;
    display: inline-block;
    text-decoration: none;
    padding: .7rem 3rem;
    transition: all .3s; }
  .btn--text:hover {
    border-radius: .7rem;
    background-color: #00bfb2;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(-2px); }
  .btn--text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transform: translateY(0); }
  .btn--text:after {
    content: "";
    display: inline-block; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 51rem; }
  .card__side {
    height: 51rem;
    width: 100%;
    font-size: 2rem;
    transition: all 1.2s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    .card__side--font {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-h1 {
        background: linear-gradient(to right bottom, #3DCAC0, #00bfb2); }
      .card__side--back-h2 {
        background: linear-gradient(to right bottom, #2D55F7, #11205f); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0);
    -webkit-transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 20rem;
    background-blend-mode: color;
    background-position: bottom;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .card__picture--h1 {
      background-image: linear-gradient(to right bottom, #000d0c, #3DCAC0), url(../../img/card__picture--h1.jpg); }
    .card__picture--h2 {
      background-image: linear-gradient(to right bottom, #0c1641, #2D55F7), url(../../img/card__picture--h2.jpg); }
  .card__heading {
    color: #fff;
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    text-shadow: 2px 2px 5px rgba(56, 56, 56, 0.8); }
  .card__details {
    color: #6b717f; }
    .card__details table {
      border-collapse: collapse;
      width: 100%; }
      .card__details table th, .card__details table td {
        padding: .8rem;
        text-align: center !important; }
      .card__details table tr:nth-of-type(even) {
        background: #efefef; }
    .card__details span {
      color: #9b9c9f;
      text-decoration: line-through; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    width: 90%; }
    .card__cta .btn {
      padding-top: 1.8rem !important; }
  .card__price-box {
    color: #fff;
    margin-bottom: 8rem; }
  .card a {
    margin: 0 auto; }

.composition__modelo-feminina {
  width: 100%;
  margin-top: -10%; }
  @media (max-width: 37.5em) {
    .composition__modelo-feminina {
      width: 85%; } }

.composition__card {
  width: 100%;
  margin-top: -10%;
  transform: rotate(18deg);
  transition: all 200ms ease-in; }
  @media (max-width: 37.5em) {
    .composition__card {
      width: 95%;
      margin-top: 2rem; } }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box__img {
    height: 6rem; }
    .feature-box__img--calendar {
      fill: #00bfb2; }
  .feature-box__heading {
    color: #2b303a; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

footer {
  color: #6b717f;
  margin-bottom: 0;
  padding: 3rem 0; }
  footer img {
    width: 100%; }
  footer ul {
    list-style-type: none; }
    footer ul li a {
      color: inherit;
      padding: .7rem .5rem .7rem 0;
      text-decoration: none;
      transition: all .5s; }
      footer ul li a:hover {
        color: #00bfb2; }
    footer ul li:not(:last-child) {
      margin-bottom: .5rem; }
  footer .footer {
    z-index: 10;
    border-top: 1px solid #d2d2d7;
    border-bottom: 1px solid #d2d2d7;
    margin-bottom: 1rem !important; }
    @media (max-width: 37.5em) {
      footer .footer {
        margin-top: 4rem;
        margin-bottom: 0 !important;
        border-bottom: none; } }
    footer .footer [class^="col-"] {
      margin: 4rem 0; }
      @media (max-width: 37.5em) {
        footer .footer [class^="col-"] {
          margin: 1rem auto !important; } }
    footer .footer--social-media {
      list-style-type: none;
      margin-bottom: .6rem; }
      footer .footer--social-media::after {
        content: "";
        display: table;
        clear: both; }
      @media (max-width: 37.5em) {
        footer .footer--social-media {
          display: table;
          align-items: center;
          margin: 2rem auto; } }
      footer .footer--social-media li {
        float: left; }
        footer .footer--social-media li:not(:last-child) {
          margin-right: 2rem; }
      footer .footer--social-media--icon {
        height: 3rem;
        width: 3rem;
        fill: #6b717f; }
        @media (max-width: 37.5em) {
          footer .footer--social-media--icon {
            width: 4rem;
            height: 4rem; } }
        footer .footer--social-media--icon:hover path {
          fill: #00bfb2; }
    footer .footer-logo {
      position: relative; }
      footer .footer-logo__img {
        position: absolute;
        top: -2rem;
        left: -2rem;
        height: 8rem; }
        @media (max-width: 37.5em) {
          footer .footer-logo__img {
            display: none; } }
    @media (max-width: 37.5em) {
      footer .footer-img__godaddy {
        width: 50%;
        display: block;
        margin: 0 auto; } }
    @media (max-width: 37.5em) {
      footer .footer--ending [class^="col-"] {
        margin: 1rem auto !important; } }
    @media (max-width: 37.5em) {
      footer .footer--ending :nth-child(4), footer .footer--ending .footer-logo {
        display: none; } }
  footer span {
    color: #e84855; }

.footnotes {
  border-bottom: 1px solid #d2d2d7;
  color: #86868b;
  padding: .17rem 0 .10rem; }
  .footnotes a {
    color: #515154;
    text-decoration: none; }
    .footnotes a:hover {
      color: #00bfb2;
      text-decoration: underline; }
  .footnotes ol {
    list-style-position: outside; }
    .footnotes ol li {
      list-style-type: decimal; }
  .footnotes ul {
    list-style: none; }
  .footnotes ol li:not(:last-child), .footnotes ul li:not(:last-child) {
    margin-bottom: .8rem; }

.link {
  color: inherit;
  text-decoration: none;
  border-bottom: 0.2rem solid #00bfb2;
  background-image: linear-gradient(120deg, #00bfb2, #00bfb2);
  background-repeat: no-repeat;
  background-size: 100% 0.0em;
  background-position: 0 100%;
  transition: background-size 0.125s ease-in;
  transition-property: background-size;
  transition-duration: 0.125s;
  transition-timing-function: ease-in;
  transition-delay: 0s; }
  .link:hover {
    border-color: #00bfb2;
    color: #fff;
    background-size: 100% 100%; }

nav {
  background: linear-gradient(to right, #00b5a8, #00d9ca);
  top: 0;
  width: 100% !important;
  transition: all .5s;
  position: relative;
  z-index: 1; }
  nav:before, nav:after {
    content: '';
    display: block;
    position: absolute; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; }
  nav a:link,
  nav a:visited {
    color: #fff;
    text-decoration: none;
    transition: all .5s; }
  nav a:hover {
    color: #11205f; }
  nav li {
    color: #fff;
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    align-items: center; }
    nav li.active {
      background-color: #00a69a; }
  nav .indicator {
    position: relative;
    z-index: 0; }
  nav #nav-icon {
    position: relative;
    margin: 1rem auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none; }
    nav #nav-icon span {
      margin-left: 2rem;
      display: block;
      position: absolute;
      height: 3px;
      width: 4rem;
      background: #fff;
      border-radius: 1rem;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
      nav #nav-icon span:nth-child(1) {
        top: 5px; }
      nav #nav-icon span:nth-child(3), nav #nav-icon span:nth-child(2) {
        top: 15px; }
      nav #nav-icon span:nth-child(4) {
        top: 25px; }
    nav #nav-icon.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%; }
    nav #nav-icon.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    nav #nav-icon.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    nav #nav-icon.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%; }
  @media (max-width: 37.5em) {
    nav #menu {
      height: 4.4rem !important;
      box-shadow: 0px 0.3rem 1.5rem rgba(0, 0, 0, 0.2); }
    nav #nav-icon {
      display: block !important;
      float: left;
      text-align: left;
      width: 3rem;
      height: 4rem; }
    nav .indicator {
      min-height: 4.4rem;
      max-height: 30rem;
      width: 100%;
      height: auto;
      display: table;
      background-image: url(../../img/white-logo.svg);
      background-position: top center;
      background-position-y: .8rem;
      background-repeat: no-repeat;
      background-size: 3.9rem;
      transition: max-height 100ms ease-in-out; }
      nav .indicator > * {
        display: none; }
      nav .indicator .menu__logo {
        display: none !important; }
      nav .indicator .indicator__open {
        float: left;
        clear: left;
        height: 30;
        height: 5rem;
        width: 100%;
        text-align: left;
        margin-bottom: 2rem;
        display: table-cell !important; }
        nav .indicator .indicator__open a {
          margin-left: 3.2rem;
          font-size: 2rem;
          padding: 1rem;
          width: 100%;
          display: inline-block; }
        nav .indicator .indicator__open:nth-child(3) {
          margin-top: 4rem; }
        nav .indicator .indicator__open:nth-child(2) {
          display: none !important; }
        nav .indicator .indicator__open:last-child {
          margin-bottom: 4rem; } }

.fixed-nav nav {
  position: fixed !important;
  box-shadow: 0px 0.3rem 1.5rem rgba(0, 0, 0, 0.2); }

.menu__logo {
  padding: .4rem 0 .4rem 0; }
  .menu__logo img {
    height: 38px;
    width: 3.8rem; }

.fixed-nav li.menu__logo {
  max-width: 30rem; }

li.menu__logo {
  max-width: 0;
  overflow: hidden;
  background: #fff;
  transition: all .5s;
  font-weight: 600; }

.prepaid-card {
  list-style: none;
  display: table;
  align-items: center;
  margin: 2rem auto; }
  .prepaid-card li {
    height: 11rem;
    width: 11rem;
    transition: transform ease-in .25s;
    display: table-cell;
    vertical-align: middle; }
    .prepaid-card li:hover {
      transform: scale(1.1) translateY(-0.5rem); }
    .prepaid-card li:not(:last-child) {
      margin-right: 2rem; }
    @media (max-width: 37.5em) {
      .prepaid-card li {
        display: inline-block; } }
  .prepaid-card img {
    width: 10rem; }

.slides {
  width: 100%;
  height: 25rem;
  position: relative;
  margin: 0 auto;
  overflow: hidden; }
  @media (max-width: 37.5em) {
    .slides {
      height: 40rem; } }
  .slides .slide {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all .25s ease-in-out;
    transform: translateX(-200%); }
  .slides .slide.next + .slide {
    transform: translateX(200%); }
  .slides .slide.prev {
    z-index: 10;
    transform: translateX(-100%); }
  .slides .slide.current {
    z-index: 10;
    transform: translateX(0); }
  .slides .slide.next {
    z-index: 10;
    transform: translateX(100%); }
  .slides p.paragraph {
    position: inherit; }

.controles {
  width: inherit;
  margin-top: 0; }
  @media (max-width: 37.5em) {
    .controles {
      grid-template-columns: repeat(auto-fit, minmax(10rem, 10rem));
      gap: 4rem;
      margin-top: 2rem; } }

.table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100%; }

.table-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: .8rem 2rem;
  overflow: hidden;
  list-style-type: none;
  outline: 1px solid #ddd;
  text-align: center;
  font-weight: 300;
  margin-top: 1px;
  margin-left: 1px; }
  .table-cell:first-child {
    outline: 1px solid #fff;
    background: transparent; }
    @media only screen and (max-width: 768px) {
      .table-cell:first-child {
        display: none; } }
  .table-cell:nth-child(-n+3) {
    padding-top: 4rem;
    padding-bottom: 4rem; }
  .table-cell > h3 {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 3rem; }
  .table-cell.cell-feature {
    text-align: left;
    font-size: 18px; }
  .table-cell.personal {
    background-color: #00bfb2;
    color: #00bfb2; }
    .table-cell.personal h2 {
      color: #fff; }
    .table-cell.personal a.btn {
      color: #00bfb2; }
      .table-cell.personal a.btn:link, .table-cell.personal a.btn:visited {
        display: inline-block;
        transition: all 0.2s; }
      .table-cell.personal a.btn:hover {
        color: #00bfb2; }
  .table-cell.business {
    background-color: #11205f;
    color: #11205f;
    background-color: #11205f;
    color: #11205f; }
    .table-cell.business h2 {
      color: #fff; }
    .table-cell.business a.btn:hover {
      color: #11205f; }

/* Table columns
================================== */
.table-cell {
  width: calc(33.33% - 1px); }
  @media only screen and (max-width: 768px) {
    .table-cell.cell-feature {
      width: 100%;
      text-align: center; } }

svg.business-check path {
  fill: #11205f !important; }

svg.business-check path {
  fill: #11205f !important; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-1 {
    width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
  .row .col-1-of-5 {
    width: calc((100% - 4 * 6rem) / 5); }
  .row .col-2-of-5 {
    width: calc(2 * ((100% - 4 * 6rem) / 5) + 6rem); }
  .row .col-3-of-5 {
    width: calc(3 * ((100% - 4 * 6rem) / 5) + 2 * 6rem); }
  .row .col-4-of-5 {
    width: calc(4 * ((100% - 4 * 6rem) / 5) + 3 * 6rem); }
  .row .col-1-of-6 {
    width: calc(1 * ((100% - 5 * 6rem) / 6)); }
  .row .col-2-of-6 {
    width: calc(2 * ((100% - 5 * 6rem) / 6) + 6rem); }
  .row .col-3-of-6 {
    width: calc(3 * ((100% - 5 * 6rem) / 6) + 3 * 6rem); }
  .row .col-4-of-6 {
    width: calc(4 * ((100% - 5 * 6rem) / 6) + 4 * 6rem); }
  .row .col-5-of-6 {
    width: calc(5 * ((100% - 5 * 6rem) / 6) + 5 * 6rem); }
  .row [class^="col-1-of-5"] div :last-child, .row [class^="col-2-of-5"] div :last-child {
    border-bottom: none; }

.header {
  height: 90vh;
  position: relative; }
  .header #parallax {
    --x: 0px;
    --y: 0px;
    background: #fff url(/img/banner-01.jpg) repeat 0 0;
    background-position: center;
    background-size: cover;
    background-position: var(--x) var(--y);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%; }
  .header--logo {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    max-width: 80rem;
    z-index: 1500;
    pointer-events: none; }
    @media (max-width: 37.5em) {
      .header--logo {
        width: 100%; } }
  .header h2 {
    z-index: 999;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -65%);
    pointer-events: none; }
    @media (max-width: 37.5em) {
      .header h2 {
        width: 100%;
        text-align: center; } }

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #00bfb2;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  display: none; }

.js-count-particles {
  font-size: 1.1em; }

#stats, .count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px; }

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden; }

.count-particles {
  border-radius: 0 0 3px 3px; }

.section-about-us .footnotes {
  border-bottom: none !important; }
  .section-about-us .footnotes ul {
    margin-left: 0; }

.section-affiliates__cards {
  padding: 20rem 0 !important;
  margin-bottom: 15rem !important;
  background-image: linear-gradient(to right bottom, rgba(0, 191, 178, 0.8), rgba(61, 202, 192, 0.8)), url(../../img/affiliates-bg.jpg) !important;
  background-size: cover;
  background-position: top;
  transform: skewY(-5deg); }
  .section-affiliates__cards > * {
    transform: skewY(5deg); }
  @media (max-width: 37.5em) {
    .section-affiliates__cards {
      padding: 8rem 0 !important;
      margin-bottom: 5rem !important; } }

.credit-card {
  position: relative;
  margin-top: -4rem;
  text-align: center;
  background-image: url(../img/bankon-cartao__card-img.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 70rem; }
  @media (max-width: 37.5em) {
    .credit-card {
      height: 35rem;
      background-size: cover;
      background-position: -1rem .5rem; } }
  .credit-card__card-img {
    width: 80%; }
  .credit-card__button, .credit-card__close {
    max-width: 5rem;
    max-height: 5rem;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    background-color: #00bfb2;
    display: block;
    padding: .9rem 2rem;
    border-radius: 100%;
    cursor: pointer;
    animation: fadein .5s;
    animation: pulse 1.5s infinite; }
    .credit-card__button:hover, .credit-card__close:hover {
      color: #00bfb2;
      background: white; }
  .credit-card__close {
    position: absolute;
    top: 2rem;
    right: 2rem; }
  .credit-card__container {
    position: relative;
    overflow: hidden;
    height: 60vw; }

input {
  display: none; }

.content {
  position: relative;
  background: #fff;
  border: 1px solid #d2d2d7;
  border-radius: 8px;
  padding: 3rem 2rem;
  text-align: center;
  display: none;
  margin: 10%;
  box-shadow: 0 4px 2px -2px rgba(211, 47, 47, 0); }

#bt1 {
  position: absolute;
  left: 73%;
  top: 26%; }
  @media (max-width: 37.5em) {
    #bt1 {
      top: 50%; } }

#bt2 {
  position: absolute;
  left: 48%;
  top: 12%; }
  @media (max-width: 37.5em) {
    #bt2 {
      top: 26%;
      left: 51%; } }

#bt3 {
  position: absolute;
  left: 31%;
  top: 26%; }
  @media (max-width: 37.5em) {
    #bt3 {
      left: 22%;
      top: 55%; } }

#input1:checked ~ #content1,
#input2:checked ~ #content2,
#input3:checked ~ #content3 {
  display: block !important;
  animation: fadein .5s; }

input:checked ~ label .credit-card__button {
  display: none !important;
  animation: fadeout .5s; }

.section-benefits {
  position: relative; }
  @media (max-width: 37.5em) {
    .section-benefits [class="col-1-of-3"] {
      margin-bottom: 2rem !important; } }
  @media (max-width: 37.5em) {
    .section-benefits .row > :nth-child(3) {
      margin-bottom: 0 !important; } }
  @media (max-width: 37.5em) {
    .section-benefits .row .composition {
      position: absolute;
      bottom: -6rem;
      left: 6rem; } }
  @media (max-width: 37.5em) {
    .section-benefits .row :last-child :nth-child(6) {
      margin-bottom: 50rem; } }

.section-card li {
  position: relative;
  cursor: default;
  list-style-type: none; }
  .section-card li:not(:last-child) {
    margin-bottom: 1rem; }

.section-card span {
  margin-right: 1rem;
  color: #00bfb2; }
  .section-card span svg {
    margin-bottom: -.5rem; }

.section-refills {
  height: 120vh;
  margin-top: 2rem;
  padding-top: 20rem;
  background-image: linear-gradient(to right bottom, rgba(17, 32, 95, 0.9), rgba(45, 85, 247, 0.9)), url(../../img/background-refills.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
  -moz-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%); }
  @media (min-width: 112.5em) {
    .section-refills {
      height: 100vh; } }
  @media (max-width: 75em) {
    .section-refills {
      height: 80vh; } }
  @media (max-width: 37.5em) {
    .section-refills {
      height: 72vh;
      padding-top: 10rem;
      clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
      -moz-clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
      -webkit-clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%); } }

.section-pricing-plans {
  margin-top: -20rem;
  padding-top: 20rem;
  background-color: rgba(17, 32, 95, 0.9); }
  .section-pricing-plans .footnotes {
    border-bottom: none; }

.section-app {
  margin-bottom: 12rem; }
  .section-app img {
    width: 100%; }
  .section-app .smartphone {
    position: relative; }
    @media (max-width: 37.5em) {
      .section-app .smartphone {
        margin: 8rem 0 0 5rem !important; } }
    .section-app .smartphone--img {
      width: 180% !important;
      transform: translateY(-28%) translateX(-60%);
      -webkit-transform: translateY(-28%) translateX(-60%);
      position: absolute;
      left: 50%;
      top: 50%; }
      @media (max-width: 37.5em) {
        .section-app .smartphone--img {
          width: 100% !important;
          position: relative; } }
  @media (max-width: 37.5em) {
    .section-app .row :nth-child(2) {
      margin-bottom: -6rem; } }
  .section-app .badges {
    margin-top: 8rem; }
    @media (max-width: 37.5em) {
      .section-app .badges {
        display: table;
        align-items: center;
        margin: 4rem auto; } }
    .section-app .badges > * {
      display: inline-block;
      float: left; }
    .section-app .badges__apple-store {
      margin-right: 4rem; }
    .section-app .badges--ios, .section-app .badges--google-play {
      width: auto;
      height: 5rem; }

@media (max-width: 37.5em) {
  .section-plans .table-cell a {
    display: none !important; } }

.suport-row {
  margin-bottom: 1rem !important; }
  @media (max-width: 37.5em) {
    .suport-row {
      margin-bottom: 0 !important; } }

.search, .search-result {
  width: 100%;
  border: solid 1px #d2d2d7;
  border-radius: .7rem;
  margin: 3rem auto;
  padding: 2rem;
  display: flex;
  align-items: stretch;
  flex-flow: row wrap; }
  .search #search, .search-result #search {
    border: none;
    border-bottom: solid 1px #d2d2d7;
    vertical-align: middle;
    margin: .8rem 2rem .5rem 2rem;
    display: flex;
    justify-content: space-between;
    outline: none;
    font-size: 2rem;
    font-family: inherit;
    flex: 1 1 auto;
    color: #d2d2d7; }
    .search #search:focus, .search-result #search:focus {
      color: #4f5052; }
  .search .magnifier, .search-result .magnifier {
    margin-top: 1.5rem;
    height: 2.5rem;
    width: 2.5rem; }
  .search button, .search-result button {
    padding-top: 2.25rem !important;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    border: solid 1px #d2d2d7;
    color: #00bfb2; }
    .search button:hover, .search-result button:hover {
      border: none;
      color: #fff;
      background-color: #00bfb2; }
    @media (max-width: 37.5em) {
      .search button, .search-result button {
        display: inline-block;
        margin-top: 2rem;
        width: 100%; } }
  .search:first-child, .search-result:first-child {
    margin-bottom: 0 !important; }

.search-result {
  opacity: 0;
  margin-top: -18rem;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .search-result h3 {
    text-align: left; }
  .search-result ul li {
    margin: 2rem auto;
    list-style: none; }
    .search-result ul li p:last-child {
      margin-bottom: 2rem; }
  .search-result ul li:not(:last-child) {
    border-bottom: solid 1px #d2d2d7; }

.faq {
  border-collapse: separate;
  border: 1px solid #d2d2d7;
  border-radius: .7rem;
  -moz-border-radius: .7rem;
  width: 100%; }
  .faq .clickable-row > * {
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
      Introduzido no Internet Explorer 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
      */
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    outline: none; }
    .faq .clickable-row > *:focus {
      box-shadow: 0 0 5px #c5c5cb; }
  .faq .clickable-row:hover {
    color: #00bfb2;
    background-color: #f0f0f0; }
  .faq th, .faq td {
    border-top: 1px solid #d2d2d7;
    border-left: 1px solid #d2d2d7;
    text-align: left;
    padding: 1rem 2rem;
    position: relative;
    transition: ease-in-out .3s; }
  .faq th {
    border-top: none; }
  .faq td:first-child, .faq th:first-child {
    border-left: none; }
  .faq--content {
    border-top: 1px dashed;
    border-color: #d2d2d7 !important;
    margin: 0;
    padding: 3rem;
    counter-increment: section;
    position: relative; }
  .faq--content:nth-child(even):before {
    content: counter(section);
    right: 100%;
    margin-right: -1rem;
    position: absolute;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #00bfb2;
    text-align: center;
    color: white; }
  .faq--content:nth-child(odd):before {
    content: counter(section);
    left: 100%;
    margin-left: -1rem;
    position: absolute;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #00bfb2;
    text-align: center;
    color: white; }
  .faq--content:nth-child(even) {
    border-left: 1px dashed;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px;
    padding-right: 0; }
  .faq--content:nth-child(odd) {
    border-right: 1px dashed;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px;
    padding-left: 0; }
  .faq--content:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0; }
  .faq--content:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }

.toggle {
  display: none;
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s; }

.toggle:target {
  display: table-row;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s; }

.section-termos-e-condicoes .footnotes:last-child {
  border-bottom: none; }
