// CORES
$cor-primaria: #00bfb2;
$cor-primaria-hue: #3DCAC0;
$cor-primaria-opacity: rgba($cor-primaria, 0.5);
$cor-secundaria: #11205f;
$cor-secundaria-hue: #2D55F7;
$cor-secundaria-opacity: rgba($cor-secundaria, 0.3);
$cor-branco: #fff;
$cor-preto: #000;
$cor-cinza: #fefeff;
$cor-linha: #d2d2d7;
$titulo: #2b303a;
$sub-titulo: #6b717f;
$texto: #4f5052;

//FONTES
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

