.btn {
  letter-spacing: .2rem;
  max-height: 6rem;
  text-transform: uppercase;
  outline: none;
	padding: 1.7rem 4rem !important;
  border-radius: .7rem !important;
  &:link,
  &:visited {
    border-radius: .7rem !important;
  	text-decoration: none;
    display: inline-block;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    position: relative;
  }
  &--white {

    background-color: $cor-branco;
    color: $texto;
    &::after {
      background-color: $cor-branco;
    }
  }
  &--green {
    border-radius: .7rem !important;
    background-color: $cor-primaria;
    color: #fff;
  }
  &:hover {
	cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
  }
  &:active {
    outline: none;
    border: none;
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
  }
  &:focus {
	  outline:0;
	}
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: all .3s;
  }
  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  &-slide {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    border: 0.5em solid #e74c3c;
    background-color: transparent;
    outline:none;
    transition: all ease-in .2s;
    cursor: pointer;
    &__prev, &__next {
      z-index: 200;
      position: absolute;
      bottom: 38%;
      width: 6rem;
      height: 6rem;
      display: inline-block;
      backface-visibility: hidden;
      border: .5rem solid $cor-branco;
      border-radius: 50%;
      @include responsivo(desk-grande) {
        top: 55%;
      }
      @include responsivo(tab-paisagem) {
        bottom: 42%;
      }
      @include responsivo(tab-retrato) {
        top: 32%;
      }
      @include responsivo(telefone) {
        top: 40%;
      }
    }
    &__prev:after, &__next:after {
      content: '';
      display: inline-block;
      margin-top: .5rem;
      width: 2rem;
      height: 2rem;
      border-top: .5rem solid $cor-branco;
      border-right: .5rem solid $cor-branco;
      background-color: transparent;
    }
    &__prev {
      left: 19%;
      @include responsivo(telefone) {
        left: 2%;
      }
      &:after {
        margin-left: .5rem;
        -moz-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
    &__next {
      position: absolute;
      right: 19%;
      @include responsivo(telefone) {
        right: 2%;
      }
      &:after {
        margin-right: .5rem;
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
    &__prev:hover, &__next:hover {
      transform: scale(1.05);
    }
    &__prev:active, &__next:active {
      transform: scale(.95);
    }
  }

  &--animated {
    animation: moveInBottom 0.75s ease-in-out .75s;
    animation-fill-mode: backwards;
  }

  &--text {
    &:link,
    &:visited {
      border-radius: .7rem;
      color: $cor-primaria;
      display: inline-block;
      text-decoration: none;
      padding: .7rem 3rem;
      transition: all .3s;
    }
    &:hover {
      border-radius: .7rem;
      background-color: $cor-primaria;
      color: $cor-branco;
      box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
      transform: translateY(-2px);
    }
    &:active {
      box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
      transform: translateY(0);
    }
    &:after {
      content: "";
      display: inline-block;
    }
  }
}
