.composition {
  &__modelo-feminina {
    width: 100%;
    margin-top: -10%;
    @include responsivo(telefone) {
      width: 85%;
    }
  }
  &__card {
    width: 100%;
    margin-top: -10%;
    transform: rotate(18deg);
    transition: all 200ms ease-in;
    @include responsivo(telefone) {
      width: 95%;
      margin-top: 2rem;
    }
  }
}
