footer {
  color: $sub-titulo;
  margin-bottom: 0;
  padding: 3rem 0;
  & img {
    width: 100%;
  }
  & ul {
    list-style-type: none;
    & li {
      & a {
        color: inherit;
        padding: .7rem .5rem .7rem 0;
        text-decoration: none;
        transition: all .5s;
        &:hover {
          color: $cor-primaria;
        }
      }
      &:not(:last-child) {
        margin-bottom: .5rem;
      }
    }
  }
  .footer {
    z-index: 10;
    border-top: 1px solid #d2d2d7;
    border-bottom: 1px solid #d2d2d7;
    margin-bottom: 1rem !important;
    @include responsivo(telefone) {
      margin-top: 4rem;
      margin-bottom: 0 !important;
      border-bottom: none;
    }
    & [class^="col-"] {
      margin: 4rem 0;
      @include responsivo(telefone) {
        margin: 1rem auto !important;
      }
    }
    &--social-media {
      list-style-type: none;
      margin-bottom: .6rem;
      @include clearfix;
      @include responsivo(telefone) {
        display: table;
        align-items: center;
        margin: 2rem auto;
      }

      & li {
        float: left;
        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
      &--icon {
        height: 3rem;
        width: 3rem;
        fill: $sub-titulo;
        @include responsivo(telefone) {
          width: 4rem;
          height: 4rem;
        }
        &:hover path {
          fill: $cor-primaria;
        }
      }
    }
    &-logo {
      position: relative;
      &__img {
        position: absolute;
        top: -2rem;
        left: -2rem;
        height: 8rem;
        @include responsivo(telefone) {
          display: none;
        }
      }
    }
    &-img__godaddy {
      @include responsivo(telefone) {
        width: 50%;
        display: block;
        margin: 0 auto;
      }
    }
    &--ending [class^="col-"] {
      @include responsivo(telefone) {
        margin: 1rem auto !important;
      }
    }
    &--ending :nth-child(4), &--ending .footer-logo {
      @include responsivo(telefone) {
        display: none;
      }
    }
  }
  & span {
    color: #e84855;
  }

}
