footer {
  color: $sub-titulo;
  margin-bottom: 0;
  padding: 4rem 0;
  & .heading-tertiary {
    color: $titulo;
  }
  & ul {
    list-style-type: none;
  }
  .footer {
    border-top: 1px solid #d2d2d7;
    [class^="col-"] {
      margin-top: 2.5rem;
    }
    &--social-media {
      list-style-type: none;
      margin-bottom: .6rem;
      @include clearfix;

      & li {
        float: left;
        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
      &--icon {
        height: 3rem;
        width: 3rem;
      }
    }
  }
  & span {
    color: #e84855;
  }
  
}