.table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100%;
}

.table-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: .8rem 2rem;
  overflow: hidden;
  list-style-type: none;
  outline: 1px solid #ddd;
  text-align: center;
  font-weight: 300;
  margin: {
    top: 1px;
    left: 1px;
  }
  &:first-child {
  	outline: 1px solid #fff;
    background: transparent;
  	@media only screen and (max-width : 768px) {
			display: none;
		}
  }
  &:nth-child(3) {
    // outline: 1px solid #30305b;
  }
  &:nth-child(-n+3) {
  	padding: {
  		top: 4rem;
  		bottom: 4rem;
  	}
  }
  > h3 {
    font-size: 26px;
  	margin: {
  		top: 0;
  		bottom: 3rem;
  	}
  }
  &.cell-feature {
	  text-align: left;
    font-size: 18px;
  }
  // &.plattform {
  //   color: $cor-primaria;
  //   a.btn {
  //     color: $cor-branco;
  //     &:hover {
  //       background-color: $cor-primaria;
  //       border-color: $cor-primaria;
  //       color: white;
  //     }
  //   }
  // }
  &.personal {
    background-color: $cor-primaria;
    color: $cor-primaria;
    & h2 {
      color: $cor-branco;
    }
    & a.btn {
      color: $cor-primaria;
      &:link,
      &:visited {
        display: inline-block;
        transition: all 0.2s;
      }
      &:hover {
        color: $cor-primaria;
      }
    }
  }
  &.business {
    background-color: $cor-secundaria;
    color: $cor-secundaria;
    & h2 {
      color: $cor-branco;
    }
    background-color: $cor-secundaria;
    color: $cor-secundaria;
    & a.btn{
      &:hover {
        color: $cor-secundaria;
      }
    }
  }
  // &.personal, &.business {
  //   color: $cor-branco;
  //   & a.btn {
  //     color: $cor-branco;
  //     &:hover {
  //       background-color: $cor-branco;
  //       border-color: $cor-branco;
  //     }
  //   }
  // }
}

/* Table columns
================================== */
.table-cell  {
  width: calc(33.33% - 1px);
  &.cell-feature {
	  @media only screen and (max-width : 768px) {
		  width: 100%;
		  text-align: center;
	  }
  }
}
svg.business-check path {
  fill: $cor-secundaria !important;
}

svg.business-check path {
  fill: $cor-secundaria !important;
}
