//RESETS
*,
*::after,
*::before,
ul  {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

//DEFAULT
html {
  //Esse valor define o que 1rem é!
  font-size: 62.5%;     // 1rem = 10px; 10px/16px = 62.5%

  @include responsivo(desk-grande) {
    font-size: 75%;     // 1rem = 12px; 12px/16px = 75%
  }
  @include responsivo(tab-paisagem) {
    font-size: 56.25%;  // 1rem = 9px; 9px/16px = 56.25%
  }
  @include responsivo(tab-retrato) {
    font-size: 50%;     // 1rem = 8px; 8px/16px = 50%
  }
}
body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
::selection {
  background: $cor-primaria-opacity;
}

[class^="section"] {
  background-image: linear-gradient($cor-branco, $cor-cinza);
  padding-top: 6rem;
	margin-bottom: 4rem;
}

//BODY
.site-wrap {
  transform: scale(.98);
  transition: transform .5s;
}
.fixed-nav .site-wrap {
  transform: scale(1);
}

img {
  width: 100%;
}

