@font-face {
    font-family: 'gilroy-light';
    src: url('../fonts/gilroy-light-webfont.otf') format('otf'),
         url('../fonts/gilroy-light-webfont.etf') format('eot'),
         url('../fonts/gilroy-light-webfont.woff') format('woff2'),
         url('../fonts/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy-extrabold';
    src: url('../fonts/gilroy-extrabold-webfont.otf') format('otf'),
         url('../fonts/gilroy-extrabold-webfont.eot') format('eot'),
         url('../fonts/gilroy-extrabold-webfont.woff') format('woff2'),
         url('../fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: $default-font-size;
    font-family: 'gilroy-light';
    line-height: 1.7;
    background-color: $cor-cinza;
    color: $texto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
h1, h3 {
    font-family:'gilroy-extrabold';
}
h2 {
    font-family: 'gilroy-light';
}
ol {
  margin: 2rem 3rem;
}

// HEADER
.header {
  & h2 {
    font-size: 3rem;
    @include responsivo(telefone) {
      font-size: 3.6rem;
    }
  }
}

// HEADING SECTIONS
.heading {
    letter-spacing: .10rem;
    &-primary {
        color: $titulo;
        text-transform: uppercase;
        font-size: 4rem;
        @include responsivo(telefone) {
          font-size: 2.5rem;
        }
    }
    &-secondary {
        color: $sub-titulo;
        display: inline-block;
        font-size: 2.5rem;
        @include responsivo(telefone) {
          font-size: 1.8rem;
        }
    }
    &-tertiary {
        color: $titulo;
        font-size: 1.8rem;
        text-transform: uppercase;
    }
}
.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}

// SECTIONS
.section {
	// REFILLS
	&-refills {
    	& h1, p {
        	color: $cor-branco;
    	}
    	& h2 {
        	color: lighten($sub-titulo, 20%);
    	}

		}
		// PRICING-PLANS
		&-pricing-plans {
			& .card {
				&__heading {
					font-family: 'gilroy-extrabold';
    			font-size: 2.8rem;
    			text-transform: uppercase;
				}
				&__details {
					font-size: 1.6rem;
				}
				&__price-box {
					letter-spacing: .3rem;
				}
				&__price-only {
					font-size: 1.4rem;
     			text-transform: uppercase;
				}
				&__price-value {
					font-family: 'gilroy-light';
					font-size: 3.5rem;
						& span {
							font-size: 10rem;
					 	}
				}
				& a {
					font-size: 1.3rem;
				}
			}
		}
}

// QUEM SOMOS
.about-us {
  ul {
		margin-left: 3rem;
  }
}
.bankon-growth h4 {
	font-size: 4rem;
	letter-spacing: .5rem;
}
// CARTÃO
.credit-card__close  {
  font-size: 2rem;
  padding-right: 3rem;
  font-weight: bold;
  font-family:'gilroy-extrabold';
}


// FOOTENOTES
.footnotes {
    font-size: 1.2rem;
}
ul {
    margin-bottom: 2rem;
}

footer, .footer .paragraph {
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  font-family: 'gilroy-light';
  text-transform: none;
  color: $sub-titulo;
  @include responsivo(telefone) {
    font-size: 1.6rem;
    text-align: center;
    margin: 0 auto;
  }
  & .heading-tertiary {
  font-size: 1.5rem;
  color: $sub-titulo;
    @include responsivo(telefone) {
      font-size: 1.7rem;
    }
  }
}
