.section-affiliates {
  &__cards {
    padding: 20rem 0 !important;
    margin-bottom: 15rem !important;
    background-image: linear-gradient(
      to right bottom,
      rgba($cor-primaria, 0.8),
      rgba($cor-primaria-hue, 0.8)),
      url(../../img/affiliates-bg.jpg) !important;
      background-size: cover;
      background-position: top;
    ;
    transform: skewY(-5deg);
    & > * {
      transform: skewY(5deg);
    }
    @include responsivo(telefone) {
      padding: 8rem 0 !important;
      margin-bottom: 5rem !important;
    }
  }
}

