.credit-card {
  position: relative;
  margin-top: -4rem;
  text-align: center;
  background-image: url(../img/bankon-cartao__card-img.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  @include responsivo(telefone) {
    height: 35rem;
    background-size: cover;
    background-position: -1rem .5rem;
  }
  &__card-img {
    width: 80%;
  }
  &__button, &__close {
    max-width: 5rem;
    max-height: 5rem;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    background-color: $cor-primaria;
    display: block;
    padding: .9rem 2rem;
    border-radius: 100%;
    cursor: pointer;
    animation: fadein .5s;
    animation: pulse 1.5s infinite;
    &:hover {
      color: $cor-primaria; background: white;
    }
  }
  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  &__container {
    position: relative;
    overflow: hidden;
    height: 60vw;
  }
}

input { display: none; }
.content {
  position: relative;
  background: $cor-branco;
  border: 1px solid $cor-linha;
  border-radius: 8px;
  padding: 3rem 2rem;
  text-align: center; display: none;
  margin: 10%;
  box-shadow: 0 4px 2px -2px rgba(211,47,47,0);
  & .paragraph {

  }
}


#bt1 {
  position: absolute;
  left: 77%;
  bottom: 44%;
  @include responsivo(telefone) {
    bottom: 27%;
  }
}
#bt2 {
  position: absolute;
  left: 48%;
  top: 22%;
  @include responsivo(telefone) {
    top: 25%;
    left: 51%;
  }
}
#bt3 {
  position: absolute;
  left: 29%;
  bottom: 46%;
  @include responsivo(telefone) {
    left: 21%;
    bottom: 30%;
  }
}

#input1:checked ~ #content1,
#input2:checked ~ #content2,
#input3:checked ~ #content3 {
  display: block !important;
  animation: fadein .5s;
}
input:checked ~ label .credit-card__button {
  display: none !important;
  animation: fadeout .5s;
}
