.section {
  &-card {
    &--wrapper {
      & li {
        cursor: default;
        list-style-type: none;
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
      & span {
        color: $cor-primaria;
      }
    }
  }
  &-refills {
    height: 110vh;
    margin-top: 2rem;
    padding-top: 20rem;
    background-image: linear-gradient(
        to right bottom,
        rgba($cor-secundaria, 0.9),
        rgba($cor-secundaria-hue, 0.9)),
        url(../../img/background-refills.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    clip-path: polygon(0 25%, 100% 0, 100% 75%, 0% 100%);
    -moz-clip-path: polygon(0 25%, 100% 0, 100% 75%, 0% 100%);
    -webkit-clip-path: polygon(0 25%, 100% 0, 100% 75%, 0% 100%);
  }
  &-pricing-plans {
      margin-top: -20rem;
      padding-top: 20rem;
      background-color: rgba($cor-secundaria, 0.9);
      & .footnotes {
        border-bottom: none;
      }
      & .pricing-text {
				// margin-top: 10rem;
      }
	}
	&-app {
    margin-bottom: 12rem;
    & img {
			width: 100%;
		}
    & .smartphone {
      position: relative;
      &--img {
        width: 200% !important;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-28%) translateX(-60%);
        -webkit-transform: translateY(-28%) translateX(-60%);
        @include responsivo(telefone) {
          position: relative;
          width: 100% !important;
        }
      }
    }
		& .badges {
			margin-top: 8rem;
			&--ios, &--google-play {
				width:auto;
				height:5rem;
			}
		}
	}
}

