.suport-row {
  margin-bottom: 1rem !important;
  @include responsivo(telefone) {
    margin-bottom: 0 !important;
  }
}
.search, .search-result {
  width: 100%;
  border: solid 1px $cor-linha;
  border-radius: .7rem;
  margin: 3rem auto;
  padding: 2rem;
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  #search {
    border: none;
    border-bottom: solid 1px $cor-linha;
    vertical-align: middle;
    margin: .8rem 2rem .5rem 2rem;
    display: flex;
    justify-content: space-between;
    outline: none;
    font-size: 2rem;
    font-family: inherit;
    flex: 1 1 auto;
    color: $cor-linha;
    &:focus {
      color: $texto;
    }
  }
  & .magnifier {
    margin-top: 1.5rem;
    height: 2.5rem;
    width: 2.5rem;
  }
  & button {
    padding-top: 2.25rem !important;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    border: solid 1px $cor-linha;
    color: $cor-primaria;
    &:hover {
      border: none;
      color: $cor-branco;
      background-color: $cor-primaria;
    }
    @include responsivo(telefone) {
      display: inline-block;
      margin-top: 2rem;
      width: 100%;
    }
  }
  &:first-child {
    margin-bottom: 0 !important;
  }
}
.search-result {
  opacity: 0;
  margin-top: -18rem;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  & h3 { text-align: left; }
  & ul li {
    margin: 2rem auto;
    list-style: none;
    & p:last-child {
      margin-bottom: 2rem;
    }
  }
  & ul li:not(:last-child) {
    border-bottom: solid 1px $cor-linha;
  }
}
.faq {
  border-collapse: separate;
  border: 1px solid $cor-linha;
  border-radius: .7rem;
  -moz-border-radius: .7rem;
  width: 100%;

  & .clickable-row {
    &>* {
      cursor: pointer;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      /*
      Introduzido no Internet Explorer 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
      */
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      -o-transition: all 0.30s ease-in-out;
      transition: all 0.30s ease-in-out;
      outline: none;
      &:focus {
        box-shadow: 0 0 5px darken($cor-linha, 5%);
      }
    }
    &:hover {
      color: $cor-primaria;
      background-color: rgb(240, 240, 240);
    }
  }
  & th, td {
    border-top: 1px solid $cor-linha;
    border-left: 1px solid $cor-linha;
    text-align: left;
    padding: 1rem 2rem;
    position: relative;
    transition: ease-in-out .3s;
  }
  & th {
    border-top: none;
  }
  & td:first-child, th:first-child {
    border-left: none;
  }
  &--content {
    border-top: 1px dashed;
    border-color: $cor-linha !important;
    margin:0; padding: 3rem;
    counter-increment: section;
    position: relative;
  }
  &--content:nth-child(even):before {
    content: counter(section);
    right: 100%;
    margin-right: -1rem;
    position: absolute;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    background-color: $cor-primaria;
    text-align:center;
    color: white;
  }
  &--content:nth-child(odd):before {
    content: counter(section);
    left: 100%;
    margin-left: -1rem;
    position: absolute;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    background-color: $cor-primaria;
    text-align:center;
    color: white;
  }
  &--content:nth-child(even) {
    border-left: 1px dashed;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px;
    padding-right: 0;
  }
  &--content:nth-child(odd) {
    border-right: 1px dashed;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px;
    padding-left: 0;
  }
  &--content:first-child {
    border-top: 0;
    border-top-right-radius:0;
    border-top-left-radius:0;
  }
  &--content:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
  }
}

.toggle {
  display: none;
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s;
}
.toggle:target {
  display: table-row;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
